# TYPE  DATABASE    USER        ADDRESS        METHOD
local   all         all                         trust
hostssl scm         scm         0.0.0.0/0       md5
hostssl hue         hue         0.0.0.0/0       md5
hostssl hive        hive         0.0.0.0/0       md5
