[libdefaults]
    default_realm = {{ kerberos_realm }}
    kdc = {{ kerberos_admin_server }}
    admin_server = {{ kerberos_admin_server }}

[realms]
    {{ kerberos_realm }} = {
        kdc = {{ kerberos_admin_server }}
        admin_server = {{ kerberos_admin_server }}
    }
