{
    "customCA" : false,
    "configureAllServices" : "true",
    "sshPort" : 22,
    {% if use_freeipa_for_crt_mgmt %}"trustedCaCerts" : "/etc/ipa/ca.crt",{% endif %}
    "userName" : "root",
    "password": "{{ cm_node_password }}"
}
